.value-card-background {
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.15);
  /* Correctly declaring a solid color background */
  background: radial-gradient(
      120.05% 97.28% at 50% 0.95%,
      rgba(255, 255, 255, 0.04) 0%,
      rgba(255, 255, 255, 0) 99.59%
    ), /* Radial gradient */
    linear-gradient(180deg, rgba(46, 51, 90, 0) 0%, rgba(28, 27, 51, 0.04) 100%); /* Linear gradient */

  box-shadow: 0px 0px 100px 0px rgba(204, 215, 255, 0.15) inset;
}
