@property --nav-length {
  syntax: '<length>';
  inherits: false;
  initial-value: 0rem;
}

@property --nav-left-position {
  syntax: '<length>';
  inherits: false;
  initial-value: 0;
}

@property --button-children-width {
  syntax: '<length>';
  inherits: false;
  initial-value: 10rem;
}

@property --button-children-height {
  syntax: '<length>';
  inherits: false;
  initial-value: 2.8rem;
}

@property --button-children-top {
  syntax: '<length>';
  inherits: false;
  initial-value: 0.4rem;
}

@property --button-children-right {
  syntax: '<length>';
  inherits: false;
  initial-value: 0.4rem;
}

.button-rectangle {
  width: 10.96rem;
  height: 3.2rem;
  flex-shrink: 0;
  border-radius: 1000px;
  border: 2px solid #000;
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.1) 0%,
      rgba(0, 0, 0, 0.1) 100%
    ),
    #111317;
  box-shadow: 4.652px 4.652px 9.306px 0px rgba(255, 255, 255, 0.15) inset;
  position: relative;
  --button-children-width: 10.28rem;
  --button-children-height: 2.67rem;
  --button-children-top: 0.4rem;
  --button-children-right: 0.4rem;
}

/* Media query for screens wider than 768px */
@media (max-width: 768px) {
}

/* Media query for screens narrower than 480px */
@media (max-width: 480px) {
}

.light-container {
  width: 10rem;
  height: 4rem;
  flex-shrink: 0;
  position: absolute;
  z-index: 10;
  right: -10%;
  top: -16%;
}

/* Media query for screens less than 768px */
@media (max-width: 768px) {
}

/* Media query for screens narrower than 480px */
@media (max-width: 480px) {
  .light-container {
    width: 100px;
    height: 30px;
    right: 2%;
    top: 2%;
  }
}

.light-glow {
  width: 4rem;
  height: 2rem;
  position: absolute;
  right: -4%;
  top: 22%;
  flex-shrink: 0;
  fill: linear-gradient(263deg, #fff 8.44%, #fff 112.84%);
  filter: blur(6px);
}

.med-glow {
  width: 5.2rem;
  height: 2rem;
  position: absolute;
  right: 14%;
  top: 16%;
  flex-shrink: 0;
  fill: linear-gradient(263deg, #fff 8.44%, #fff 112.84%);
  filter: blur(6px);
}

.bold-glow {
  width: 6rem;
  height: 5.6rem;
  position: absolute;
  right: 6%;
  top: -24%;
  flex-shrink: 0;
  fill: linear-gradient(263deg, #fff 8.44%, #fff 112.84%);
  filter: blur(6px);
}

.top-layer {
  position: absolute;
  z-index: 40;
  width: 10.2rem;
  height: 42.6px;
  flex-shrink: 0;
  top: 2.4px;
  left: 4.4px;
  border-radius: 29px;
  border: 1px solid #ffffffec;
  background-color: #111317;
}

/* Media query for screens wider than 768px */
@media (max-width: 768px) {
  .top-layer {
    width: 200px;
    height: 45px;
    top: 5px;
    left: 5px;
    border-radius: 35px;
    border: 1.5px solid #ffffffec;
    background-color: #222;
  }
}

/* Media query for screens narrower than 480px */
@media (max-width: 480px) {
  .top-layer {
    width: 110.8px;
    height: 32px;
    top: 2px;
    left: 2px;
    border-radius: 25px;
    border: 0.8px solid #ffffffec;
    background-color: #000;
  }
}

.button-children {
  display: flex;
  position: absolute;
  width: var(--button-children-width);
  height: var(--button-children-height);
  left: 4px;
  top: 0.4rem;
  padding: 9px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 1000px;
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.1) 0%,
      rgba(0, 0, 0, 0.1) 100%
    ),
    #111317;
  box-shadow: 2px 2px 12px 0px rgba(255, 255, 255, 0.135) inset;
  z-index: 50;
}

/* Media query for screens wider than 768px */
@media (max-width: 768px) {
  .button-children {
    width: 184px;
    height: 48px;
    left: 5px;
    top: 4px;
    padding: 12px 30px;
    border-radius: 120px;
    box-shadow: 5px 5px 10px 0px rgba(255, 255, 255, 0.3) inset;
  }
}

/* Media query for screens narrower than 480px */
@media (max-width: 480px) {
  .button-children {
    width: 110px;
    height: 32px;
    left: 2px;
    top: 2px;
    padding: 6px 18px;
    border-radius: 100px;
    box-shadow: 3px 3px 6px 0px rgba(255, 255, 255, 0.2) inset;
  }
}

.secondary-button {
  display: flex;
  height: 50px;
  padding: 8px 12px;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  border: 1px solid #ffffff2b;
  background: radial-gradient(
    84.42% 178.17% at 100% 133.82%,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.1) 100%
  );
  box-shadow: 0px 0px 10px 0px #f1ecff10 inset;
  backdrop-filter: blur(17px);
}
